@charset "utf-8";
/*----------------------------------

・リセット
・共通レイアウト

----------------------------------*/

@import "layout.css";

textarea {
    resize: none;
}
.postform {
    padding:20px;
    border-bottom: solid 2px #333;
    position: fixed;
    width: 100%;
    top: 0px;
    background-color: white;
}
.content {
    margin-top: 100px;
    padding: 20px;
}

.name {
    display: inline;
    font-size: larger;
}
.time {
    display: inline;
    font-size: x-small;
}
.sann {
    display: inline;
}
