@charset "utf-8";
/*----------------------------------



----------------------------------*/

@import "layout.css";

/* ヘッダーレイアウト */
.article-header {
    margin: 30px 20px 30px 20px;
}
.day,.title {
    display: inline-block;
    width: 49%;
}
.profile {
    margin-bottom: 20px;
}

/* ボタン類 */
.social-buttons {
    margin: 30px 20px 30px 20px;
}
.good-area,.twitter-area,.follow-area {
    display: inline-table;
}
.follow-area {
    width: 100px;
}


/* 記事本文 */
.content {
    margin: 60px 60px 60px 60px;
    border: solid 1px;
    padding: 50px;
    text-align: left;
}
.content p {
    white-space: pre-wrap;
}

/* コメント */
.comment-area {
    margin: 60px 30px 30px 30px;
}
.comment {
    margin: 30px 0px 30px 0px;
}
.comment-form textarea {
    resize: none;
}
.comment-area input {
    display: block;
    margin-top: 30px;
}