@charset "utf-8";
/*----------------------------------



----------------------------------*/

@import "layout.css";

.articles {
    height: fit-content;
}
.checkbox-hidden {
    display: none;
}
.button {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.button input {
    margin: 5px;
}