@charset "utf-8";
/*----------------------------------



----------------------------------*/

@import "layout.css";

.articles {
    height: fit-content;
}
.checkbox-hidden {
    display: none;
}
.submit-button {
    display: block;
    margin: auto;
}
