@charset "utf-8";
/*----------------------------------



----------------------------------*/

@import "layout.css";

.finish {
    width: 50%;
    margin: auto;
    margin-top: 10%;
    padding: 10px;
    text-align: center;
}
.finish p {
    margin: 10px;
    font-size: 35px;
}