@charset "utf-8";

@import "layout.css";

/* ヘッダーのレイアウト */
.header {
    background-color: rgb(176, 218, 238);
} 
.main_title {
    text-align: center;
    font-size: 50px;
}
.sub_title {
    text-align: center;
}
.header h2 {
    display: inline-block;
    text-align: center;
}

.menu {
    text-align: center;
}
.menubar {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* アカウントページへ */
.account {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 10px;
}

/* 掲示板レイアウト */
.board {
    margin: 30px 20px 30px 20px;
}
.board a {
    font-size: large;
} 
.sum {
    margin-top: 30px;
    border: solid 1px;
    overflow: scroll;
    height: 200px;
}
.sum article {
    margin: 20px;
}

/* 記事レイアウト */
.articles {
    margin: 30px 20px 30px 20px;
    height: 500px;
    overflow: hidden;
}
.articles article {
    padding:10px;
    margin:10px;
    display:inline-block;
    width: 29%;
    height: 200px;
    border: solid 1px;
    overflow: hidden;
}
.articles form {
    display: block;
    height: 100%;
}
.content {
    text-align: center;
}
.articles a {
    text-decoration: none;
    display: block;
    height: 100%;
}
.content-body p {
    margin-top: 30px;
    white-space: pre-wrap;
}

/* フッターレイアウト */
footer {
    height: 200px;
    padding: 20px;
    text-align: center;
    background-color:rgb(176, 218, 238);
}
footer h1 {
    font-size: 30px;
}