@charset "utf-8";

@import "layout.css";

.account a {
    text-decoration: underline;
    color: -webkit-link;
}

/* ヘッダーのレイアウト */
.header {
    background-color: rgb(176, 218, 238);
} 
.title h1 {
    color: black;
}
.title {
    text-align: center;
}
.nav {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.nav li {
    text-align: center;
    background-color: #363a56;
    margin-right: 2px;
}
#follow {
    margin: 0;
}
.nav li a {
    color: rgb(250, 231, 195);
}


/* divレイアウト */
.main {
    margin: 30px 20px 30px 20px;
    min-height: 500px;
}

/* フッターレイアウト */
footer {
    height: 200px;
    padding: 20px;
    text-align: center;
    background-color:rgb(176, 218, 238);
}
footer h1 {
    font-size: 30px;
}
