@charset "utf-8";

@import "layout.css";

/* ヘッダーのレイアウト */
.header {
    background-color: rgb(60, 165, 142);
}
.main_title {
    text-align: center;
}
.header h2 {
    display: inline-block;
    text-align: center;
}
.menu {
    text-align: center;
}
.menubar {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* 掲示板レイアウト */
.board {
    margin: 10px;
}
.board a {
    color: rgb(115, 122, 51);
}
.sum {
    border: solid 1px rgb(185, 218, 41);
}

/* 記事レイアウト */
.articles {
    margin: 10px;
}
.articles article {
    border: solid 1px rgb(185, 218, 41);
    width:fit-content;
    padding:10px;
    margin:10px;
    display:inline-block;
}
.articles a {
    color: rgb(115, 122, 51);
}
