@charset "utf-8";
/*----------------------------------

・リセット
・共通レイアウト

----------------------------------*/

/*リセット*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
}

/* 共通レイアウト */
a {
    color: black;
    text-decoration: none;
}

.home_link {
    display: block;
    text-align: center;
    margin: 20px;
    text-decoration: underline;
    color: -webkit-link;
}

/* 記事表示レイアウト */
.articles {
    margin: 30px 20px 30px 20px;
    height: 500px;
    overflow: hidden;
}
.articles article {
    padding:10px;
    margin:10px;
    display:inline-block;
    width: 28%;
    height: 200px;
    border: solid 1px;
    overflow: hidden;
}
.articles form {
    display: block;
    height: 100%;
}
.content {
    text-align: center;
}
.articles a {
    text-decoration: none;
    display: block;
    height: 100%;
}
.content-body p {
    margin-top: 30px;
    white-space: pre-wrap;
}

