@charset "utf-8";
/*----------------------------------

・

----------------------------------*/
@import "layout.css";
/* 通常ログインフォーム */
.loginform {
    border-radius: 10px;
    border: solid 5px #A67B5B;
    width: 50%;
    margin: auto;
    margin-top: 10%;
    padding: 10px;
}

.nomal_login {
    text-align: center;
}
.nomal_login text {
    height: 20px;
}
.nomal_login p {
    margin: 5px;;
}
.nomal_button {
    width: 100px;
    height: 40px;
    margin: 5px;
}

.new_set {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.new_set a {
    color: -webkit-link;
    text-decoration: underline;
}
.new_test_login {
    margin: 10px;
    width: 470px;
    text-align: center;
}
.test_button {
    height: 40px;
}


/* グーグルログインフォーム */
.google_login p {
    font-size: small;
}

.memo {
    text-align: center;
}
