@charset "utf-8";
/*----------------------------------



----------------------------------*/

/* 設定 */
.menyupage {
    text-align: center;
    margin: 30px 20px 30px 20px;
}
.menyupage h2 {
    text-align: left;
}
.loginID {
    width: 329px;
    margin: auto;
    text-align: left;
}
.loginID,.name,.mail {
    margin-top: 10px;
    margin-bottom: 10px;
}

/* アカウントページ画面 */
.account-page {
    margin: 30px 20px 30px 20px;
}
.sub {
    margin-left: 10px;
}

