@charset "utf-8";
/*----------------------------------



----------------------------------*/

@import "layout.css";

h2 {
    padding: 20px;
}

.menyupage {
    text-align: center;
}
.loginID {
    width: 329px;
    margin: auto;
    text-align: left;
}
.loginID,.name,.mail {
    margin-top: 10px;
    margin-bottom: 10px;
}