@charset "utf-8";
/*----------------------------------



----------------------------------*/

.post_form,.title_form,.content_form {
    margin: 10px;
}
textarea {
    width: 100%;
    resize: none;
}
.title_form input {
    width: 60%;
}
