@charset "utf-8";
/*----------------------------------



----------------------------------*/

@import "layout.css";

h1 {
    margin: 30px 20px 30px 20px;
}
.post_form,.title_form,.content_form {
    margin: 10px;
}
textarea {
    width: 100%;
    resize: none;
}
.title_form input {
    width: 60%;
}
