@charset "utf-8";
/*----------------------------------



----------------------------------*/

@import "layout.css?v=2";

/* h2 {
    padding: 20px;
}
.articles {
    margin: 10px;
}
.articles article {
    border: solid 1px rgb(185, 218, 41);
    width:fit-content;
    padding:10px;
    margin:10px;
    display:inline-block;
}
.articles a {
    color: rgb(115, 122, 51);
} */